aiohttp==3.8.4
aiokafka==0.8.0
aiosignal==1.3.1
alembic==1.10.4
altgraph==0.17.3
anyio==3.6.2
apturl==0.5.2
Arpeggio==2.0.0
astroid==2.12.13
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asyncio-redis==0.16.0
asyncpg==0.27.0
attrs==22.1.0
autopep8==1.6.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bidict==0.22.1
blinker==1.4
Brlapi==0.8.3
bs4==0.0.1
certifi==2022.9.24
chardet==4.0.0
charset-normalizer==3.1.0
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
click==8.0.3
clockblocks==0.6.7
cmdtest==0.32+git
colorama==0.4.4
command-not-found==0.3
contourpy==1.0.6
cryptography==3.4.8
cupshelpers==1.0
cx-Freeze==6.13.1
cycler==0.11.0
dbus-python==1.2.18
defer==1.0.6
dill==0.3.6
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docstring-to-markdown==0.11
duplicity==0.8.21
ecdsa==0.18.0
email-validator==1.3.1
environs==9.5.0
exceptiongroup==1.0.0rc9
expenvelope==0.7.0
exponent-server-sdk==2.0.0
fastapi==0.95.1
fastapi-jwt-auth==0.5.0
fastapi-users==10.4.2
fastapi-users-db-sqlalchemy==5.0.0
fastapi-websocket-pubsub==0.3.3
fastapi-websocket-rpc==0.1.24
fasteners==0.14.1
filelock==3.6.0
flake8==6.0.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
greenlet==2.0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.20.2
httptools==0.5.0
httpx==0.23.3
httpx-oauth==0.11.2
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.6.4
isort==5.11.4
itsdangerous==2.1.2
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==3.2.0
kafka-python==2.0.2
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.8.0
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
makefun==1.15.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.19.0
matplotlib==3.6.2
mccabe==0.7.0
meson==0.61.2
MIDIUtil==1.2.1
monotonic==1.6
more-itertools==8.10.0
motor==3.1.2
MouseInfo==0.1.3
msgpack==1.0.4
multidict==6.0.4
mypy==0.991
mypy-extensions==0.4.3
netifaces==0.10.6
notifications==0.3.2
numpy==1.23.5
oauthlib==3.2.0
olefile==0.46
opencv-python==4.7.0.68
orjson==3.8.10
outcome==1.2.0
packaging==22.0
paramiko==2.9.3
parso==0.8.3
passlib==1.7.4
patchelf==0.17.0.0
permit-broadcaster==0.2.2
pexpect==4.8.0
Pillow==9.0.1
platformdirs==2.6.2
pluggy==1.0.0
priority==2.0.0
protobuf==3.12.4
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pyasn1==0.5.0
PyAutoGUI==0.9.53
pycairo==1.20.1
pycodestyle==2.10.0
pycups==2.0.1
pydantic==1.10.7
pydocstyle==6.1.1
pyflakes==3.0.1
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.42.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyJWT==2.6.0
pylint==2.15.9
pyls-isort==0.2.2
pylsp-mypy==0.6.4
pymacaroons==0.13.0
pymongo==4.3.3
PyMsgBox==1.0.9
pymusicxml==0.5.5
PyNaCl==1.5.0
pynvim==0.4.3
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
PyScreeze==0.1.28
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
python-engineio==4.4.1
python-jose==3.3.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.0
python-multipart==0.0.6
python-osc==1.8.0
python-socketio==5.8.0
python3-xlib==0.15
pytoolconfig==1.2.4
pytweening==1.0.4
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
ranger-fm==1.9.3
reportlab==3.6.8
requests==2.25.1
rfc3986==1.5.0
rollbar==0.16.3
rope==1.6.0
rsa==4.9
scamp==0.9.1.post5
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
selenium==4.5.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
socketio==0.2.1
sockets==1.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.10
starlette==0.26.1
systemd-python==234
tenacity==8.2.2
texttable==1.6.4
tk==0.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
trio==0.22.0
trio-websocket==0.9.2
ttystatus==0.38
typing_extensions==4.4.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ujson==5.6.0
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.21.1
uvloop==0.17.0
vboxapi==1.0
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
wadllib==1.3.6
watchfiles==0.19.0
websocket-client==1.2.3
websockets==10.4
whatthepatch==1.0.3
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
yapf==0.32.0
yarl==1.9.2
zipp==1.0.0
